<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
</head>
<body>
  <h1>The Information Technology Institute (ITI) is a leading national institute established in 1993 by the Information and Decision Support Centre (IDSC) the Egyptian Cabinet.
         In 2005 ITI's affiliation moved to the Ministry of Communications and Information Technology (MCIT).
The Institute operates through 4 main branches catering for the North Coast, Delta, and Upper Egypt.
The Institute's geographical spread includes also the affiliation of 61 training centres in 20 of Egypt's governorates,
enabling the outreach of its massive capacity building and industry development programs throughout Egypt from North to South. </h1>
</body>
</html>